/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
	font-family: 'Source Sans 3', sans-serif !important;
    overflow-x: hidden;
}

#landing {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

#landing p {
    font-size: 1.5rem;
    font-weight: lighter;
}

#my-name {
    font-weight: 900;
    font-size: 5rem;
    text-transform: uppercase;
}

#home-logo {
    background: url('./images/cat_logo_hover3.png') no-repeat -1px -33px;
    width: 61px;
    height: 31px;
}


#home-logo:hover {
    background: url('./images/cat_logo_hover3.png') no-repeat -1px 0;
    max-height: 300px; /* Maintains height */
    width: auto; /* Allows width to adjust */
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}

#hero-image {
    background: url(./images/Bambo_icon3.png)  no-repeat 0 -540px;
}

#hero-image:hover {
    background: url('images/Bambo_icon3.png') no-repeat 0 -20px;
    transform: scale(1.1); /* Slightly increase size on hover */
}


#my-role {
    font-weight: 500;
}

#landing {
    height: 100vh;
    width: 100vw;
}

#contact-me {
    max-width: 500px;
    max-height: 500px;
    border-radius: 20px 0 0 20px;
}

#contact-me-form {
    background-color: #F4EDD3;
   /* color: ;*/
    border-radius: 0 20px 20px 0;
}

div.card {
    width: 18rem;
}

.card p {
    font-weight: lighter;
    font-size: 0.9rem;
}

.card-title {
    font-weight: normal;
}

.tool-icon {
    max-width: 80px;
    max-height: 80px;
}

.tool-text {
    font-weight: normal;
    font-size: 0.7rem;
}

.header-text {
    font-weight: 600;
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
    #hero-image {
        max-height: 200px; /* Reduce height for smaller screens */
    }
}

@media (max-width: 480px) {
    #hero-image {
        max-height: 150px; /* Even smaller on mobile */
        transform: none; /* Disable hover zoom on very small screens */
    }
}
